.filterArea {
  flex-direction: column;
  flex: 0 0 auto;
  max-width: 465px;
  padding: 1.5rem;
  background: #dbdbdbad !important;
  border-radius: var(--border-radius);
  color: #000;
}

@container (max-width:1199px) {
  .filterArea {
    width: 300px;
    padding: 0.5rem;
  }
}
