.cardDish {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 452px;
  border-radius: var(--border-radius);
  border: 1px solid #fdfbfb;
  transition: transform 0.2s ease-in-out;
  justify-content: center;
  cursor: pointer;

  .image {
    object-fit: cover;
  }

  .textName {
    font-size: clamp(0.875rem, 0.831rem + 0.1408vw, 1rem);
    font-weight: 500;
    line-height: 100%;
  }

  .textDescription {
    font-family: var(--font-family);
    text-wrap: balance;
    font-size: clamp(0.625rem, 0.537rem + 0.2817vw, 0.875rem);
    color: rgba(0, 0, 0, 0.45);
  }

  .infoBody {
    padding: 1.5rem;
  }
}

@media (hover: hover) {
  .cardDish:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in;
  }
}
